@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
/* @charset "UTF-8"; */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #101010;
  line-height: normal;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #eaeaea;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*="__container"] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="-ibg"] {
  position: relative;
}
[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  object-fit: contain;
}

.link {
  padding: 0.75rem 0.9375rem;
  background-color: #101010;
  border-radius: 1.25rem;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 0.3125rem;
  border: 0.0625rem solid #101010;
  transition: all 0.3s ease 0s;
}
.link svg path {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .link:hover {
    color: #101010;
    background-color: transparent;
  }
  .link:hover svg path {
    fill: #101010;
  }
}

.title {
  font-weight: 700;
}

@media (min-width: 75em) {
  .header {
    margin-top: 3.125rem;
  }
}
@media (min-width: 30em) and (max-width: 75em) {
  .header {
    margin-top: clamp(0.9375rem, -0.5208333333rem + 4.8611111111vw, 3.125rem);
  }
}
@media (max-width: 30em) {
  .header {
    margin-top: 0.9375rem;
  }
}
@media (min-width: 75em) {
  .header {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 30em) and (max-width: 75em) {
  .header {
    margin-bottom: clamp(
      0.9375rem,
      -0.5208333333rem + 4.8611111111vw,
      3.125rem
    );
  }
}
@media (max-width: 30em) {
  .header {
    margin-bottom: 0.9375rem;
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  border-radius: 0.9375rem;
  background-color: #fff;
}
@media (min-width: 76.875em) {
  .header__body {
    padding-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__body {
    padding-top: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem);
  }
}
@media (max-width: 20em) {
  .header__body {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .header__body {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__body {
    padding-bottom: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem);
  }
}
@media (max-width: 20em) {
  .header__body {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .header__body {
    padding-left: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__body {
    padding-left: clamp(0.625rem, -0.2541208791rem + 4.3956043956vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .header__body {
    padding-left: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .header__body {
    padding-right: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__body {
    padding-right: clamp(0.625rem, -0.2541208791rem + 4.3956043956vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .header__body {
    padding-right: 0.625rem;
  }
}
.header__logo {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 29.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: right 0.3s ease 0s;
    background-color: #000;
    padding-top: 6.25rem;
    text-align: center;
    overflow: auto;
    z-index: 5;
  }
  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    top: 0;
    right: -100%;
    transition: right 0.3s ease 0s;
    background-color: #000;
  }
}
@media (min-width: 29.99875em) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (min-width: 29.99875em) and (min-width: 76.875em) {
  .menu__list {
    gap: 1.875rem;
  }
}
@media (min-width: 29.99875em) and (min-width: 20em) and (max-width: 76.875em) {
  .menu__list {
    gap: clamp(0.9375rem, 0.6078296703rem + 1.6483516484vw, 1.875rem);
  }
}
@media (min-width: 29.99875em) and (max-width: 20em) {
  .menu__list {
    gap: 0.9375rem;
  }
}
@media (any-hover: hover) {
  .menu__item:not(:last-child):hover {
    text-decoration: underline;
  }
}
@media (max-width: 29.99875em) {
  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 29.99875em) {
  .menu__link {
    font-size: 1.5rem;
    color: #fff;
  }
}

.menu-open .menu__body {
  right: 0;
}
.menu-open .menu__body::after {
  right: 0;
}
.menu-open .icon-menu span,
.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  background-color: #fff;
}

.icon-menu {
  display: none;
}
@media (max-width: 29.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 6;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (min-width: 75em) {
  .footer {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 30em) and (max-width: 75em) {
  .footer {
    margin-bottom: clamp(
      0.9375rem,
      -0.5208333333rem + 4.8611111111vw,
      3.125rem
    );
  }
}
@media (max-width: 30em) {
  .footer {
    margin-bottom: 0.9375rem;
  }
}
.footer__body {
  border-radius: 0.9375rem;
  background-color: #fff;
  display: flex;
  column-gap: 1.875rem;
  row-gap: 0.9375rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 76.875em) {
  .footer__body {
    padding-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__body {
    padding-top: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem);
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__body {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__body {
    padding-bottom: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem);
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .footer__body {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__body {
    padding-left: clamp(0.625rem, 0.2953296703rem + 1.6483516484vw, 1.5625rem);
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-left: 0.625rem;
  }
}
@media (min-width: 76.875em) {
  .footer__body {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer__body {
    padding-right: clamp(0.625rem, 0.2953296703rem + 1.6483516484vw, 1.5625rem);
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-right: 0.625rem;
  }
}
.menu-footer__list {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
@media (max-width: 29.99875em) {
  .menu-footer__link {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 76.875em) {
  .page__main {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__main {
    padding-bottom: clamp(
      1.5625rem,
      -0.0858516484rem + 8.2417582418vw,
      6.25rem
    );
  }
}
@media (max-width: 20em) {
  .page__main {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 76.875em) {
  .page__portfolio {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__portfolio {
    padding-top: clamp(1.5625rem, -0.0858516484rem + 8.2417582418vw, 6.25rem);
  }
}
@media (max-width: 20em) {
  .page__portfolio {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 76.875em) {
  .page__portfolio {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__portfolio {
    padding-bottom: clamp(
      1.5625rem,
      -0.0858516484rem + 8.2417582418vw,
      6.25rem
    );
  }
}
@media (max-width: 20em) {
  .page__portfolio {
    padding-bottom: 1.5625rem;
  }
}

.main__body {
  border-radius: 0.9375rem;
  background-color: #fff;
  display: grid;
}
@media (min-width: 76.875em) {
  .main__body {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__body {
    padding-top: clamp(0.9375rem, 0.1682692308rem + 3.8461538462vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .main__body {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .main__body {
    padding-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__body {
    padding-bottom: clamp(
      0.9375rem,
      0.1682692308rem + 3.8461538462vw,
      3.125rem
    );
  }
}
@media (max-width: 20em) {
  .main__body {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .main__body {
    padding-left: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__body {
    padding-left: clamp(0.9375rem, 0.1682692308rem + 3.8461538462vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .main__body {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 76.875em) {
  .main__body {
    padding-right: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__body {
    padding-right: clamp(0.9375rem, 0.1682692308rem + 3.8461538462vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .main__body {
    padding-right: 0.9375rem;
  }
}
.main__content {
  justify-self: center;
  max-width: 49.0625rem;
  text-align: center;
}
@media (min-width: 76.875em) {
  .main__content {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__content {
    margin-bottom: clamp(0.9375rem, 0.1682692308rem + 3.8461538462vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .main__content {
    margin-bottom: 0.9375rem;
  }
}
.main__subtitle {
  text-transform: uppercase;
}
.main__subtitle:not(:last-child) {
  margin-bottom: 0.625rem;
}
.main__title {
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 76.875em) {
  .main__title {
    font-size: 7rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__title {
    font-size: clamp(2.3125rem, 0.6641483516rem + 8.2417582418vw, 7rem);
  }
}
@media (max-width: 20em) {
  .main__title {
    font-size: 2.3125rem;
  }
}
@media (min-width: 76.875em) {
  .main__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__title:not(:last-child) {
    margin-bottom: clamp(0.9375rem, 0.8276098901rem + 0.5494505495vw, 1.25rem);
  }
}
@media (max-width: 20em) {
  .main__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.main__text {
  line-height: 1.5625;
}
.main__text span {
  font-weight: 700;
}
@media (min-width: 76.875em) {
  .main__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .main__text:not(:last-child) {
    margin-bottom: clamp(0.9375rem, 0.6078296703rem + 1.6483516484vw, 1.875rem);
  }
}
@media (max-width: 20em) {
  .main__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.main__image-ibg {
  padding-bottom: 31.5315315315%;
}

.portfolio__header {
  position: relative;
  max-width: 33.125rem;
}
@media (min-width: 76.875em) {
  .portfolio__header {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .portfolio__header {
    margin-bottom: clamp(1.875rem, 1.4354395604rem + 2.1978021978vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .portfolio__header {
    margin-bottom: 1.875rem;
  }
}
.portfolio__header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.125rem;
  background-color: #101010;
}
@media (min-width: 76.875em) {
  .portfolio__head {
    margin-left: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .portfolio__head {
    margin-left: clamp(0.9375rem, 0.1682692308rem + 3.8461538462vw, 3.125rem);
  }
}
@media (max-width: 20em) {
  .portfolio__head {
    margin-left: 0.9375rem;
  }
}
.portfolio__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.portfolio__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 75em) {
  .portfolio__items {
    gap: 2.5rem;
  }
}
@media (min-width: 48em) and (max-width: 75em) {
  .portfolio__items {
    gap: clamp(0.9375rem, -1.8402777778rem + 5.787037037vw, 2.5rem);
  }
}
@media (max-width: 48em) {
  .portfolio__items {
    gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .portfolio__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.item-portfolio {
  border-radius: 0.9375rem;
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 75em) {
  .item-portfolio {
    padding: 1.5625rem;
  }
}
@media (min-width: 48em) and (max-width: 75em) {
  .item-portfolio {
    padding: clamp(0.9375rem, -0.1736111111rem + 2.3148148148vw, 1.5625rem);
  }
}
@media (max-width: 48em) {
  .item-portfolio {
    padding: 0.9375rem;
  }
}
.item-portfolio__image-ibg {
  overflow: hidden;
  display: block;
  padding-bottom: 81.1320754717%;
}
@media (min-width: 76.875em) {
  .item-portfolio__image-ibg:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-portfolio__image-ibg:not(:last-child) {
    margin-bottom: clamp(0.9375rem, 0.6078296703rem + 1.6483516484vw, 1.875rem);
  }
}
@media (max-width: 20em) {
  .item-portfolio__image-ibg:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .item-portfolio__image-ibg {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
    margin-top: -0.9375rem;
  }
}
.item-portfolio__title {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.item-portfolio__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-portfolio__skills {
  text-transform: uppercase;
}
.item-portfolio__skills:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item-portfolio__links {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.item-portfolio__link:last-child {
  color: #101010;
  background-color: transparent;
  border: 0.0625rem solid #101010;
}
.item-portfolio__link:last-child svg path {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .item-portfolio__link:last-child:hover {
    background-color: #101010;
    color: #fff;
  }
  .item-portfolio__link:last-child:hover svg path {
    fill: #fff;
  }
}
